
<html>
    <body bgcolor=FAFAD2>

        <center>

        <h1> FLOWER DETECTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Sepal length :  <input type="text", name='a', placeholder="enter value"> <br><br>
            Sepal width :  <input type="text", name='b', placeholder="enter value"> <br><br>
            Petal length :  <input type="text", name='c', placeholder="enter value"> <br><br>
            Petal width : <input type="text", name='d', placeholder="enter value"> <br><br><br></b>
            <input type="submit" , value='Predict Species' >
        </form>

        
        
    </center>

    </body>
</html>